/* Fix header at the top */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures header stays above other elements */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for header */
  padding: 10px 30px;
  background-color: rgb(0, 0, 0);

}
header h1{
  color: orange;
  text-align: center;
}
/* Search bar design */

